body {
    background-color: #eeeeee;
	font-family: Helvetica;
    text-shadow: 5px 5px 5px #999;
	width: 1024px;
}

div#header{
	padding: 20px 20px 20px 20px;
}
div#content{
	padding: 20px 20px 20px 20px;
}
div#footer{
	padding: 20px 20px 20px 20px;
}

div#headerlanguages {
	text-align: right;
}
.headerlanguage {
	padding: 10px 10px 10px 10px;
	text-decoration: none;
}

div#menu {
}
div#menuitem {
	color: #000000;
	font-size: 25px;
	padding: 20px 20px 20px 20px;
	text-decoration: none;
}
.menuitem {
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #666;
	color: #000000;
	font-size: 25px;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	transition: background 0.3s linear 0s;
}
.menuitem:hover {
    background-color: #ff0000;
    border-radius: 5px;
}

div#loggedinbox {
	float: right;
	padding: 10px 10px 10px 10px;
}

div#formular {
	background-color: #ffffff;
	border-color: #bbbbbb;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 10px 10px 25px #666;
	height: auto;
	padding: 20px 20px 20px 20px;	
	width: auto;
}

div#registernew{
	background-color: #ffffff;
	border-color: #bbbbbb;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 10px 10px 25px #666;
	height: auto;
	padding: 20px 20px 20px 20px;	
	width: auto;
}

div#patients {
	border-color: #bbbbbb;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 10px 10px 25px #666;
	height: auto;
	padding: 20px 20px 20px 20px;
	width: auto;
}

div#patientdatas {
	border-color: #bbbbbb;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 10px 10px 25px #666;
	height: auto;
	padding: 20px 20px 20px 20px;
	width: auto;
}
div#filter{
}



div#table{
	
}
.table-header {
/* 	background-color: #BBBBFF; */
	padding: 10px 10px 10px 10px;
}
.table-odd-row {
	background-color: #bbbbbb;
	padding: 10px 10px 10px 10px;
}
.table-even-row {
	background-color: #dddddd;
	padding: 10px 10px 10px 10px;
}
.table-column-id {
	background-color: #0090d0;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
}
.table-column-data {
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
}
.table-column-button {
	background-color: #eeeeee;
	padding: 5px 5px 5px 5px;
}
